body{
    border: 0;
    padding: 0;
    margin: 0
}

.navbar {
    background-color: rgb(0, 89, 255);
    text-align: center;
    padding: 5px;
    color:honeydew;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.main {
    margin-right: auto;  
  margin-left:  auto;  

  max-width: 600px;  

  padding-right: 10px;  
  padding-left:  10px;  
  display: grid;
  grid-template-columns: 1 1 1 1;
  text-align: center;
}

.main > h1 {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}

.main > label{
    text-align: left;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.main > input {
    height: 30px;
    margin: 10px 0 10px 0;
}

.main > select{
    margin: 10px 0 10px 0 ;
    max-width: 150px;
    height: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.main > button{
    max-width: 100px;
    padding: 10px;
    margin: 0px 0px 0 0;
    border: 0;
    background-color: rgb(0, 110, 255);
    box-shadow: 1px 1px grey;
    border-radius: 5px;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
     
}
.main > button:hover{
    background-color: rgb(41, 122, 243);
    box-shadow: 0px 0px grey;
}

.textarea{
    height: 150px;
    margin: 10px 0 10px 0;
 
     
}
.notes{
    margin: 20px auto 20px auto;
 
    font-family: Georgia, 'Times New Roman', Times, serif;
    max-width: 600px;
    text-align: left;
}

.li-notes {
    list-style-type: square;
    background-color: rgb(199, 8, 8);
    
    height: auto;
}
 
.note-title {
    
    font-size: 30px;
    padding: 20px 0 10px 10px;
    color: rgb(255, 255, 255);
    margin-bottom: -16px;
    background-color:  rgb(170, 6, 6);
    font-family: Georgia, 'Times New Roman', Times, serif;
  
}

.note-body {
    height: 250px;
    color: rgb(7, 7, 7);
    padding: 10px 5px 10px 10px;
   
    margin-bottom: 0;
    background-color: rgb(184, 184, 184);
    font-size: 15px;
    gap: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    overflow: auto;
}

 

.edit-btn{
     
   
    background-color: rgb(155, 7, 7);
    border: 0;
    color: white;
    text-align: left;
    padding: 5px 0px 5px 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 50%;
    }

#error {
    margin-top: -30px;
    text-align: right;
}

.error-style{
    border-color: rgb(245, 14, 14);
    border-width: 2.2px;
  
}

.notes-border{
    border: 5px;
    background-color:rgb(155, 7, 7)
}

.deletebtn {
    cursor: pointer;
    
    background-color: rgb(155, 7, 7);
    padding: 5px 10px 5px 0px;
    border: 0;
    color: white;
     width: 100%;
     float: right;
     text-align: right;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

 
